.btn-convert {
    width: 42px;
    height: 42px;  
    border: 1px solid #177FE5;
    border-radius: 100%;
    background-image: url("../assets/Button.png");
    cursor: pointer;
    transform: translateY(-5px);
}

@media (min-width:375px) AND (max-width:1200px) {
    .btn-convert {
        transform: translateY(0px);
    }
}