.card {
    z-index: 999;
    margin-top: -90px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 435px;
    top: 228px;
    left: 77px;
    
}

.rectangle-card {
    width: 80%;
    height: 402px;
    top: 228px;
    left: 77px;
    border-radius: 8px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px 0px #0000001A;


} 

.card .rectangle-card .container-fields {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
}


@media (min-width: 375px) AND (max-width: 460px) {
    .card {
        padding-top: 25px;
    }
}

@media (min-width: 375px) AND (max-width: 1200px) {
    .card .rectangle-card .container-fields {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card .rectangle-card .container-result-display {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

