.rectangle {

  justify-content: center;
  align-items: center;
  width: 100%;
  height: 295px;
  top: 60px;
  background: #1A8DFF;
  }
  
.rectangle .text-rectangle {
    display: block;
    width: 80%;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    color: #FFFFFF;
    text-align: center;
    height: 33px;
    transform: translate(77px,123px) ;
  
  }

  @media (min-width: 375px) AND (max-width: 450px) {
    .rectangle .text-rectangle {
      min-width: 275px;
      
    }
    .rectangle .text-rectangle {
      text-align:inherit;
    }
  }